<%- include("header.ejs", {title: "Home"}) %>

<div class="container">
  <h1>HOME</h1>
  <p>
    <a href="/register" class="btn btn-outline-info">Register</a>
    <a href="/login" class="btn btn-outline-info">Login</a>
    <a href="/logout" class="btn btn-outline-info">Logout</a>
  </p>
</div>
<%- include("header.ejs", {title: "Home"}) %>
